/* ===========================
   ======= Buttons ======== 
   =========================== */

button {
	border-radius: 20px;
    background: #4cb480;
    color: #fff;
    padding: 10px 40px;
    text-transform: uppercase;
    border: none;
}


/* ===========================
   ========= Headings ======== 
   =========================== */
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.1;
   margin-bottom: .8em;
   text-transform: uppercase;
}

/* ===========================
   ======= Anchor style ====== 
   =========================== */
a {
	outline: 0;
}

a img {
	text-decoration: none;
}

a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}
ul {
   padding: 0;
}
li {
   list-style: none;
}
hr {
   margin: 40px 30px;
   color: #333;
   border-color: #9c9c9c;
}
button {
   cursor: pointer;
}